<launch>
  <node type="rviz" name="rviz_elev" pkg="rviz" args="-d $(find elevation_mapping_cupy)/rviz/tf2_debug.rviz" />
  <!-- Elevation mapping node -->
  <param name="use_sim_time" value="true" />
  <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_cupy)/config/parameters_dog_real_world.yaml" />
  </node>

  <!-- translation matrix, pub odom and new_map tf -->
  <param name="use_sim_time" value="true" />
  <node pkg="elevation_mapping_cupy" type="translate_t2_pcd" name="translate_t2_pcd_debug" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_cupy)/config/translate_tf.yaml" />
  </node>

  <arg name="folder_path" default="/home/kin/workspace/elevation_ws/src/bag_data/0706_LG157"/>
  <arg name="bag_name" default="LG57_mapping_2022-07-06-21-39-45.bag"/>

  <!-- rosbag play and record-->
  <arg name="bag_file" default="$(arg folder_path)/$(arg bag_name)" />
  <param name="use_sim_time" value="true" />
  <node pkg="rosbag" type="play" name="bag_play" args="$(arg bag_file) --clock -d 5 -r 0.25"/>

  <arg name="recordf" default="$(arg folder_path)/algorithm_result/elevation_cupy/$(arg bag_name)" />
  <node pkg="rosbag" type="record" name="bag_record" args="--output-name $(arg recordf) /elevation_mapping/elevation_map_filter /elevation_mapping/elevation_map_raw"/>

</launch>
