<launch>
  <node type="rviz" name="rviz_elev" pkg="rviz" args="-d /home/kin/rviz/elevation_inpaint_lg5.rviz" />
  <!-- Elevation mapping node -->
  <param name="use_sim_time" value="true" />
  <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_cupy)/config/parameters_dog_real_world.yaml" />
  </node>

  <!-- translation matrix, pub odom and new_map tf -->
  <param name="use_sim_time" value="true" />
  <node pkg="elevation_mapping_cupy" type="translate_t2_pcd" name="translate_t2_pcd_debug" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_cupy)/config/translate_tf.yaml" />
  </node>

  <!-- for filter mask to evaluate more accuracy -->
  <node pkg="elevation_mapping_cupy" name="" type="pub_filter_rate.py" output="screen" >
    <rosparam command="load" file="$(find elevation_mapping_cupy)/config/filter_rate/obs_mask_cupy.yaml" />
  </node>

  <arg name="folder_path" default="/home/kin/workspace/elevation_ws/src/bag_data"/>
  <arg name="bag_name" default="Y_shape.bag"/>

  <!-- rosbag play and record-->
  <arg name="bag_file" default="$(arg folder_path)/$(arg bag_name)" />
  <param name="use_sim_time" value="true" />
  <node pkg="rosbag" type="play" name="bag_play" args="$(arg bag_file) --clock -d 5 -r 1.0" required="true"/>

  <arg name="recordf" default="$(arg folder_path)/elevation_cupy/$(arg bag_name)" />
  <node pkg="rosbag" type="record" name="bag_record" args="--output-name $(arg recordf) /elevation_mapping/elevation_map_filter /elevation_mapping/elevation_map_raw /filter_grid /auto_odom /velodyne_points /tf /tf_static"/>

</launch>
